
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0c0c0c;
    color: #fff;
}

.background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(13, 13, 13, 0.7); /* Fundo preto translúcido */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.slideshow {
    position: relative;
    width: 80%; /* Ajuste conforme necessário */
    max-width: 800px; /* Largura máxima */
    height: 400px; /* Ajuste a altura conforme necessário */
    overflow: hidden;
    margin: 50px auto 20px auto; /* Espaçamento acima e abaixo, centralizado */
    padding: 0; /* Remover padding para centralizar a imagem */
    box-sizing: border-box; /* Inclui o padding no tamanho total do elemento */
}

.slideshow img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.container {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(61, 60, 60, 0.1);
    max-width: 400px;
    z-index: 2;
    display: none; /* Escondido, mas disponível se quiser adicionar algo depois */
}



.timer p {
    font-size: 20px;
    margin: 10px 0;
    color: #ffffff;
}

.separator {
    font-size: 24px;
    margin: 20px 0;
    font-weight: bold;
    color:rgb(44, 47, 46);
}

.message p {
    font-size: 22px;
    text-align: center;
    color: #ffffff;
    margin: 10px 20px;
}